
**/bin/*.js
**/node_modules

# CDK asset staging directory
**/.cdk.staging
**/cdk.out

# Parcel default cache directory
**/.parcel-cache

# Lambda Layer creation file
**/src/infra/layers/*.js

# Compiled Output #
###################
**/dist
**/lib
**/coverage
**/.nyc_output
**/compiled_tests
**/compiled_e2e_tests

.DS_Store
**/.DS_Store

.env
**/.env
