@import '../variables';

 .loader {
   &--full-screen {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: #f3c93c;
   }
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 999999999 !important;
   width: 100%;
 }
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #131313;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.loader-enter-active,
.loader-leave-active {
  transition: opacity 0.1s;
}
.loader-enter, .loader-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.popup {
  animation: popupData 230ms ease-in-out;
}

@keyframes popupData {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
